/* copyright 2018 calvin scrimshire, all rights reserved */

.clmnzr { /* equivalent to row */
	display: block;
	margin: 0px;
	padding: 0px;
}
.clmnzr-col-2 {
	display:inline-block;
	max-width: 100%;
	width: 47.5%;
	padding-left: 1%;
	padding-right: 1%;
}
.clmnzr-col-3 {
	display:inline-block;
	max-width: 100%;
	width: 31%;
	padding-left: .7%;
	padding-right: .7%;
}
.clmnzr-col-4 {
	display:inline-block;
	max-width: 100%;
	width: 23%;
	padding-left: .8%;
	padding-right: .8%;
}
.clmnzr-col-5 {
	display:inline-block;
	max-width: 100%;
	width: 17.5%;
	padding-left: .8%;
	padding-right: .8%;
}
@media(max-width: 768px){ /* tablet widths */
	.clmnzr-col-4 {
		width: 47.5%;
		padding-left: 1%;
		padding-right: 1%;	
	}
}
@media(max-width: 485px){ /* mobile widths */
	.clmnzr-col-2, .clmnzr-col-3, .clmnzr-col-4, .clmnzr-col-5 {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}
