@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:100,200,300,400');
html {
	font-family: 'EB Garamond', serif;
	color: #2e2e2e;
	letter-spacing: 0em;
	line-height: 1.5em;
	font-size: 16px;
	padding: 0px;
	background-color: white;
	}

body {
	padding: 0px;
	margin: 0px;
	background-color: white;
	background-image: url("../images/BACKGROUND-test1.svg");
	background-size: 100% auto; /* contain */
	background-repeat: no-repeat;
/*	background-image: url(../images/charts-background.jpg);
	background-position: center center;
	background-repeat: no-repeat; */
}

.page {
	width: 100%;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: transparent;
/*	background-image: url(../images/img-noise-361x370.png);
	background-repeat: repeat;
	box-shadow: 0px 0px 20px #111;*/
}

h1 {
	line-height: 1em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	color: #000000;
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	color: #000000;
	font-size: 1.5em;
}

h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 1.2em;
}


header {
	width: 100%;
	/*border-bottom: solid 1px #333;*/
	text-align: center;
}
header h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 2.5em;
	margin: 0px;
}
header h1 a {
	text-decoration: none;
	color: #000000;
}
header .logo {
	width: 200px;
	margin-right: 30px;
	display: inline-block;
	vertical-align: middle;
}
header ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
header ul li {
	display: inline-block;
	margin: 15px;
}
.row {
	width: 100%;
	max-width: 750px;
	display: block;
	margin: auto;
}
.col1 {
	max-width: 100%;
	display: block;
	margin: auto;
}
.col2 {
	max-width: 100%;
	display: inline-block;
	width: 47.5%;
	padding: 0% 1% 0% 1%;
	margin-top: 50px;
	min-width: 200px;
}
.col3 {
	display: inline-block;
	max-width: 100%;
	width: 30%;
	padding: 0% 1% 0% 1%;
	margin-top: 50px;
	min-width: 200px;
}
.col3 img {
	max-height: 200px;
	max-width: 100%;
}
img {
	max-width:100%;
}
button { 
	display: block;
	margin: auto;
	color: #333;
	cursor: pointer;
 }
.paralax { 
	background-image: url(../images/landscape/DSC09533.jpg);
	background-position: center center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	 }
.transparent {
	background-color: transparent;
	padding-top: 160px;
	padding-bottom: 140px;
}
.transparent h1 {
	text-align: center;
    #letter-spacing: .4em;
    text-shadow: 0px 0px 10px #000;
}
.transparent h3 {
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    font-size: 2em;
    letter-spacing: .4em;
}
.transparent h4 {
	text-align: center;
	text-shadow: 0px 0px 10px #000;
	font-size: 1.5em;
	font-weight: 400;
}
.transparent p { text-align: center; text-shadow: 0px 0px 10px #000;}
.couples {
	background-image: url(../images/couples/drew&glenda_03_lrg.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
.family {
	background-image: url(../images/couples/DSC06597.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
img {
	border-radius: 3px;
	display: inline-block;
	margin: auto;
}
a { color: #a22; text-decoration: underline; }
a:hover { text-decoration: none; }
.footer {
	border-top: solid 1px #123;
	box-shadow: 0px -2px 0px #111;
	margin-top: 60px;
}
.footer p {
	text-align: center;
}

#hero {
	min-height: 300px;
	margin-top: 100px;
	text-align: center;
}

#hero p {
	margin-top: 50px;
	margin-bottom: 50px;
}

#contactForm {  
	margin-top: 200px;
}

#about { 

}

form {
	line-height: 40px;
}

form label {
	display: inline-block;
	width: 150px;
	text-align: right;
}
form input {
	display: inline-block;
	width: 150px;
}
form input, textarea {
	font-family: 'EB Garamond', serif;
	font-size: 14px;
	background-color: #fff;
	border-radius: 3px;
	border: solid 1px #333;
	color: #333;
	padding:5px;
}
@media(max-width: 960px){
	.page {
		padding-left: 0px;
	}
	.row {
		max-width: 94%;
		padding-left: 5%;
		margin: 0px;
	}
}
@media(max-width: 485px){
	.page {
		padding-left: 0px;
	}
	.col2 {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.col3 { 
		width: 90%;
		display: block;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.col3 img {
		max-height: none;
	}
	header h1 {
		font-size: 2em;
		text-align: center;
	}
	form input, textarea {
		width: 90%;
	}
}

/* TRANSITIONS */

form input, textarea {
	padding-top: 3px;
	padding-bottom: 3px;
	-webkit-transition: padding .5s; /* Safari */
	transition: padding .5s;
}
form input:focus, textarea:focus {
	padding-top: 8px;
	padding-bottom: 8px;
}
